USE [master]
GO
/****** Object:  Database [FIAPDesafioPlenoDb]    Script Date: 01/09/2025 13:49:01 ******/
CREATE DATABASE [FIAPDesafioPlenoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FIAPDesafioPlenoDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FIAPDesafioPlenoDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FIAPDesafioPlenoDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FIAPDesafioPlenoDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FIAPDesafioPlenoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FIAPDesafioPlenoDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/09/2025 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 01/09/2025 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[DataNascimento] [datetime2](7) NOT NULL,
	[CPF] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Alunos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matriculas]    Script Date: 01/09/2025 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matriculas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlunoId] [int] NOT NULL,
	[TurmaId] [int] NOT NULL,
	[DataMatricula] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Matriculas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turmas]    Script Date: 01/09/2025 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turmas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](450) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Turmas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250830141127_InitialCreate', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250830182409_AddIsAdminToAluno', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Alunos] ON 

INSERT [dbo].[Alunos] ([Id], [Nome], [DataNascimento], [CPF], [Email], [PasswordHash], [IsAdmin]) VALUES (1, N'Administrador ADM', CAST(N'2000-07-17T00:00:00.0000000' AS DateTime2), N'87292360025', N'admin@fiap.com', N'AQAAAAIAAYagAAAAEM9c7NH087Ye19caMZ/jYG0E5Szo8dq1qzVWgfjhd/8fUIfQ8AVQO2cQGP90/+w09A==', 1)
INSERT [dbo].[Alunos] ([Id], [Nome], [DataNascimento], [CPF], [Email], [PasswordHash], [IsAdmin]) VALUES (6, N'Amanda Xavier', CAST(N'2025-08-08T00:00:00.0000000' AS DateTime2), N'04983181091', N'amanda@fiap.com', N'AQAAAAIAAYagAAAAEOJu8u4W/f2L/WOgjGpXJb3MAPR5dW+uxFErT+h2eB7OlcEZKqtbyFWCKUbd3XHjTA==', 0)
INSERT [dbo].[Alunos] ([Id], [Nome], [DataNascimento], [CPF], [Email], [PasswordHash], [IsAdmin]) VALUES (1005, N'Laura Sales', CAST(N'2022-12-31T00:00:00.0000000' AS DateTime2), N'89213599072', N'laura@fiap.com', N'AQAAAAIAAYagAAAAED/yl2WSSiAd5VnGuNi4uvcvRakgE2KHmTRfX5i8XvNoyRlMy/lKgLaZmg9+625pmQ==', 0)
SET IDENTITY_INSERT [dbo].[Alunos] OFF
GO
SET IDENTITY_INSERT [dbo].[Matriculas] ON 

INSERT [dbo].[Matriculas] ([Id], [AlunoId], [TurmaId], [DataMatricula]) VALUES (1013, 1, 2, CAST(N'2025-09-01T12:24:04.4716943' AS DateTime2))
INSERT [dbo].[Matriculas] ([Id], [AlunoId], [TurmaId], [DataMatricula]) VALUES (1017, 6, 2, CAST(N'2025-09-01T16:32:53.2467215' AS DateTime2))
INSERT [dbo].[Matriculas] ([Id], [AlunoId], [TurmaId], [DataMatricula]) VALUES (1018, 1, 3, CAST(N'2025-09-01T16:33:10.0175394' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Matriculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Turmas] ON 

INSERT [dbo].[Turmas] ([Id], [Nome], [Descricao]) VALUES (1, N'Computação III', N'A arte da Computação(Avançada)')
INSERT [dbo].[Turmas] ([Id], [Nome], [Descricao]) VALUES (2, N'Computação', N'Introdução a arte da Computação')
INSERT [dbo].[Turmas] ([Id], [Nome], [Descricao]) VALUES (3, N'Computação II', N'A arte da Computação (Basica)')
SET IDENTITY_INSERT [dbo].[Turmas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Alunos_CPF]    Script Date: 01/09/2025 13:49:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alunos_CPF] ON [dbo].[Alunos]
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Alunos_Email]    Script Date: 01/09/2025 13:49:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alunos_Email] ON [dbo].[Alunos]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Matriculas_AlunoId_TurmaId]    Script Date: 01/09/2025 13:49:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Matriculas_AlunoId_TurmaId] ON [dbo].[Matriculas]
(
	[AlunoId] ASC,
	[TurmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Matriculas_TurmaId]    Script Date: 01/09/2025 13:49:02 ******/
CREATE NONCLUSTERED INDEX [IX_Matriculas_TurmaId] ON [dbo].[Matriculas]
(
	[TurmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Turmas_Nome]    Script Date: 01/09/2025 13:49:02 ******/
CREATE NONCLUSTERED INDEX [IX_Turmas_Nome] ON [dbo].[Turmas]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alunos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Matriculas]  WITH CHECK ADD  CONSTRAINT [FK_Matriculas_Alunos_AlunoId] FOREIGN KEY([AlunoId])
REFERENCES [dbo].[Alunos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Matriculas] CHECK CONSTRAINT [FK_Matriculas_Alunos_AlunoId]
GO
ALTER TABLE [dbo].[Matriculas]  WITH CHECK ADD  CONSTRAINT [FK_Matriculas_Turmas_TurmaId] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turmas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Matriculas] CHECK CONSTRAINT [FK_Matriculas_Turmas_TurmaId]
GO
USE [master]
GO
